/* general */
/*

   ____                                 _     
  / ___|  ___  _ __    ___  _ __  __ _ | |    
 | |  _  / _ \| '_ \  / _ \| '__|/ _` || |    
 | |_| ||  __/| | | ||  __/| |  | (_| || |    
  \____| \___||_| |_| \___||_|   \__,_||_|    
                                              
  ____         _    _    _                    
 / ___|   ___ | |_ | |_ (_) _ __    __ _  ___ 
 \___ \  / _ \| __|| __|| || '_ \  / _` |/ __|
  ___) ||  __/| |_ | |_ | || | | || (_| |\__ \
 |____/  \___| \__| \__||_||_| |_| \__, ||___/
                                   |___/      
*/

body #page {
	
	a.button {
		padding:10px;
		background-color:#fbaa65;
		border-radius:5px;
		&:hover {
			background-color:#176ed0;
		}
	}
	background-color:#fff;
	
	a {
		color:#186ed0;

		&:hover {
			color:#e57200;
		}
	}

	h1, h2, h3, .search-result .node-story h2 {
		font-family:'franklin-gothic-urw-cond', 'arial narrow', sans-serif;
		color:#000;
	}


}



header {
	#zone-branding-wrapper {
		#zone-branding {
			
			div.branding-data {

				.site-name a { 

					&:hover {
						color:#e57200;
					}
				}
				
			}

			div.outside-links ul li {
				background:url('/sites/studios.as.virginia.edu/files/white-arrows.png') no-repeat;
			       	a {
			
					&:hover {
						color:#e57200;
					}
				}
			}
		}
	}

	#zone-menu-wrapper {
		background:#eee;
		#zone-menu {
			li.menu-button {
				&:hover {
					background:none;
				}
			       	a {
					margin-top:10px;
						background:#696969;
					&:hover {
						background:#e57200;
					}
				}
			}

			.nav .content 
			{
				color:#333;
			}
		}

		

	}

	#zone-user-wrapper {
		#zone-user {

			div.region-user-second .uvabar_links ul li a {
				
				&:hover {
					color:#e57200;
				}
			}
		}
	}
}

section#section-content {

	#zone-content-wrapper {

		background: none;
		border-top:none;

		#zone-content {
			
			p, ul {
				color:#000;
			}
			border-top:none;
			background: rgba(255,255,255,.8);
			a, a:link, a:active {

    			text-decoration: underline;
			
			}

			ul li {
			    list-style:disc;
			    margin-left:80px;
			}
			ul.studio-block li
			{
			  list-style-type: none;
			  display:block;
			  float:left;
			  width:350px;
			  clear:none;
			}
			.homepage-image-block {
				width:32%;
				height:350px;
				float:left;
				img {
					width:300px;
					height:auto;
				}
			}
		}
	}

}

footer {
	#zone-footer-wrapper {
		background:#000;
	}
}

body .tb-megamenu .nav > li > a {
    border-right: 0px;

}

body.front {
	
	tbody {
	    border-top:0px;
	}

	#zone-slideshow {
	    width:100%;

	    div {
		    width:100%;
		    margin:0px;
		}

		img {
		    width:100%;
		}
	
	}
	section#section-content{
		#zone-content-wrapper {
			margin-top:-70px;
			margin-left:60px;
			
			#zone-content {
				background:none;
			}
		}
	}
}

body.node-type-studio
{
	section#section-content {

		#zone-content-wrapper {

			#zone-content {

				div.field-label 
				{
					font-family: 'franklin-gothic-urw-cond', 'arial narrow', sans-serif;
				    font-size: 1.875em;
				    line-height: 1.0666666667em;
				    margin-bottom: 10px;
				    margin-top:10px;
				    font-weight: normal;
				    color: #000;
				}

			}
		}
	}
}
/* Megamenu */

/* 


  __  __                                                    
 |  \/  |  ___   __ _   __ _  _ __ ___    ___  _ __   _   _ 
 | |\/| | / _ \ / _` | / _` || '_ ` _ \  / _ \| '_ \ | | | |
 | |  | ||  __/| (_| || (_| || | | | | ||  __/| | | || |_| |
 |_|  |_| \___| \__, | \__,_||_| |_| |_| \___||_| |_| \__,_|
                |___/                                       


*/

body.not-front .tb-megamenu .nav > li.home-icon a {
    padding: 5px !important;
}
body .tb-megamenu .nav > li.home-icon:hover
{
  background: none;
}

body .tb-megamenu .mega > .mega-dropdown-menu {
    min-width:310px;
    width:auto;
    border:1px solid #ccc;
}
body #tb-megamenu-main-menu > div > ul > li > a 
{
  margin-right:100px;
}

body #tb-megamenu-main-menu li a:hover, body #tb-megamenu-main-menu li a:active, body #tb-megamenu-main-menu li a:focus, body #tb-megamenu-main-menu li a {
  background:none;  
}
body .tb-megamenu .nav > li > a:focus, body .tb-megamenu .nav > li > a:hover, body .tb-megamenu .nav > li > a:active{
  background:none;
}
body .tb-megamenu {


	.dropdown-menu {
		  a {
		    display:inline;
		    padding:3px;
		    color:#002f6c;
		  }

		  a.topnav-menu-header
		  {
		    font-weight:bold;
		    color:#000;
		  }

		  a:hover
		  {
		    color: #e57200;
		  }
	  }

	  .nav {
		  > li {
			  &:hover > a {
				  color:#e57200;
			  }
			  > a {
				  
				  &:hover {
					  color:#e57200;
				  }
			  }
		  }

		  > .active > a {
			  

			  &:hover {
				  color:#e57200;
			  }
		  }


		  li.dropdown.active > a.dropdown-toggle ,
		  li.dropdown.active > a:visited.dropdown-toggle {
			  
		  }
		  li.dropdown.active > a:hover.dropdown-toggle {
			  color:#e57200;
		  }
		  li.tb-megamenu-item.dropdown.active.open > a.dropdown-toggle { color:#e57200;}
	  }
}

body div.tb-megamenu-submenu.dropdown-menu.mega-dropdown-menu.nav-child {
    box-shadow: none;
    margin-left: 0px;
}

body .tb-megamenu .nav > li {
    border-right: none;
    width:auto;
    transition:all .5s;
}

body li.tb-megamenu-item.level-1 a {
    margin-top: 5px;
}

body li.tb-megamenu-item.level-1.home-icon a {
    margin-top: 6px;
    padding:0px;
}

body .tb-megamenu .nav > li > a {
    font-size:110%;
}

body #mini-panel-main_menu_mini_panel .panel-col-first {
    width:72%;
}

body #mini-panel-main_menu_mini_panel .panel-col-last {
    width:28%;
}

