/* ULA Page Stuff */

/* 


  _   _  _         _      ____                     
 | | | || |       / \    |  _ \  __ _   __ _   ___ 
 | | | || |      / _ \   | |_) |/ _` | / _` | / _ \
 | |_| || |___  / ___ \  |  __/| (_| || (_| ||  __/
  \___/ |_____|/_/   \_\ |_|    \__,_| \__, | \___|
                                       |___/       
*/

h2.site-name {
    display:none;
}

body #zone-user-wrapper #zone-user .region-user-first
{
    width:450px;
}

a.ula-button {
    float: left;
    width: 17vw;
    text-align: center;
    color: white;
    margin: 10px;
    border: 1px solid #fff;
    display:block;
    background-color: rgb(90, 153, 211);
    padding:5px;
    
    &:hover {
      background-color: #E57200;
      color:white;
    }
}

#section-content #zone-content-wrapper #zone-content {
  p, ul li {
    font-size: 16px;
  }

  a {
    border-bottom: 1px dotted #03143D;
  }

  #region-content {

    ul li.ula-bio-row {

      float:left;
      display:block;

      img {
        width:300px;
        display:block;
        float:left;
        margin:5px;
        margin-right:15px;
      }  
    }
  }
}

